<div class="container">
  <h3><% if (data) {%>Edit Student <% } else { %>New Student<% } %></h3>
  <% 
  let Object = {}, editing = false;

  if (data) {
      Object = Array.isArray(data) ? data[0] : data;
      editing = Object.hasOwnProperty('id');
  }
  %>
  <%- include('callout/callout.ejs') %>
  <form action="<%= editing == true ? `/students/update?id=${Object.id}` : `/students/add` %>" method="POST">
    <% if (editing) {%>
    <input type="text" name="id" value="<%= Object.id %>" hidden>
    <% } %>
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" name="first_name" placeholder="Student first name.." value="<%= data ? Object.first_name : '' %>">
    </div>

    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" name="last_name" placeholder="Student last name.." value="<%= data ? Object.last_name : '' %>">
    </div>

    <div class="form-group">
      <label for="lname">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Student email.." value="<%= data ? Object.email : '' %>">
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" name="gender">
        <option value="Male" <% if (data && Object.gender.toLowerCase() == 'male') {%>selected<%}%>>Male</option>
        <option value="Female" <% if (data && Object.gender.toLowerCase() == 'female') {%>selected<%}%>>Female</option>
      </select>
    </div>

    <div class="form-group">
      <label for="lname">Birth Date</label>
      <input type="text" class="form-control" id="bdate" name="birth_date" placeholder="Student Birth Date (Format : DD/MM/YYYY)" value="<%= data ? new Date(Object.birth_date).toLocaleString() : '' %>">
    </div>

    <input type="submit" value="Submit" class="btn btn-outline-success">
  </form>
</div>