<h1>Student</h1>
<%- include('../partials/navbar.ejs') %>
<p1>
<table>
<th>Student</th>

    <table border='1'>
        <a href="/student/addstudent"><button>ADD</button></a>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>E-mail</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Action</th>
        </tr>
        <tbody>
            <% data.forEach(el => {%>
            <tr>
                <td><%= el.id %></td>
                <td><%= el.first_name %></td>
                <td><%= el.last_name %></td>
                <td><%= el.email %></td>
                <td><%= el.gender %></td>
                <td><%= el.birth_date %></td>
                <td> 
                    <a href="/student/<%= el.id%>/edit "><button>Edit</button></a>
                    <a href="/student/<%= el.id%>/delete"><button>Delete</button></a>
                </td>
            </tr>
            <% }) %>
        </tbody>



    </table>


</form>
</table>
</p1>