<h1>Subject</h1>
<%- include('../partials/navbar.ejs') %>
<p1>
<table>
<th>Subject</th>

    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Subject</th>
            <th>Action</th>
        </tr>
        <tbody>
            <% data.forEach(el => {%>
            <tr>
                <td><%= el.id %></td>
                <td><%= el.subject_name %></td>

                <td> 
                    <a href="/student/<%= el.id%>/edit "><button>Edit</button></a>
                    <a href="/student/<%= el.id%>/delete"><button>Delete</button></a>
                </td>
            </tr>
            <% }) %>
        </tbody>



    </table>


</form>
</table>
</p1>