<%- include('partials/header', {titledoc: 'teeachers', header: 'Teachers Data'} )%>

        <% if(data){ %>
            <table class="table table-striped  mt-5">
                <thead>
                    <tr>
                        <% for(let key in data[0]){ %>
                            <th scope="col" class="text-center"><%= key %></th>    
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach( list => { %>
                        <tr>
                            <td class="text-center"><a href="/teachers/<%= list.id %>"><%= list.id %></a></td>
                            <td class="text-center"><%= list.first_name %></td>
                            <td class="text-center"><%= list.last_name %></td>
                            <td class="text-center"><%= list.email %></td>
                            <td class="text-center"><%= list.gender %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
        <div class="container text-center mt-5"><a href="/">Home</a></div>
    </div>
</body>
</html>