<%- include('partials/header')%>
<body>

    <div class="container mt-5">
    <h1 class="text-center">Meet Our Teachers</h1>
    <div class="container mt-5"><a href="/">Home</a></div>
        <% if(data){ %>
        <table class="table table-striped  mt-5">
            <thead>
            <tr>
                <% for(let key in data[0]) { %>
                    <th scope="col"><%= key %></th>    
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% data.forEach( key => { %>
                <tr>
                    <td><a href="/teachers/<%= key.id %>"><%= key.id %></a></td>
                    <td><%= key.first_name %></td>
                    <td><%= key.last_name %></td>
                    <td><%= key.email %></td>
                    <td><%= key.gender %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>

</body>
</html>